<!doctype html>
{% extends "base.html" %}
{% block content %}
<center>

  {% with messages = get_flashed_messages() %}
  {%if messages%}
  {%for mess in messages%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{mess}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {%endfor%}
  {%endif%}
  {% endwith %}

  <div class="card text-left mt-5" style="width: 35rem;">
    <div class="card-body">
      <form action="{{url_for('addb')}}" method="POST">
        <h3>Service Location Information</h3>
        <label for="addr">Street Number</label>
        <input name="street_number" class="form-control" required></textarea>

        <label for="addr">Street Name</label>
        <input name="street_name" class="form-control" required></textarea>

        <label for="addr">Apartment Number</label>
        <input name="apt_number" class="form-control" required></textarea>

        <label for="city">City</label>
        <input type="text" name="city" class="form-control" required />

        <label for="city">State</label>
        <input type="text" name="state" class="form-control" required />

        <label for="pin">Zipcode</label>
        <input type="text" name="zipcode" class="form-control" required />

        <label for="city">Square Foootage</label>
        <input type="text" name="square_footage" class="form-control" required />

        <label for="city">Number of Bedrooms</label>
        <input type="text" name="num_bedrooms" class="form-control" required />

        <label for="pin">Number of Occupants</label>
        <input type="text" name="num_occupants" class="form-control" required />

        <label for="pin">Move in date</label>
        <input type="text" name="move_in_date" class="form-control" required />

        <br>
        <input type="submit" value="Submit" class="btn btn-dark" /><br>

      </form>
    </div>
  </div>
</center>
{% endblock %}