{% extends "base.html" %}

{% block content %}
<br>
<br>
<center>
  <div class="card text-left" style="width: 35rem;">
    <div class="card-body">
      <div class="form-group">
        <form action="{{url_for('addrec')}}" method="POST">
          <h3>Register</h3>
          <label for="name"> First Name</label>
          <input type="text" name="first_name" class="form-control" required />

          <label for="name"> Last Name</label>
          <input type="text" name="last_name" class="form-control" required />

          <label for="addr">Street Number</label>
          <textarea name="street_number" class="form-control" required></textarea>

          <label for="addr">Street Name</label>
          <textarea name="street_name" class="form-control" required></textarea>

          <label for="addr">Apartment Number</label>
          <textarea name="apt_number" class="form-control" required></textarea>

          <label for="city">City</label>
          <input type="text" name="city" class="form-control" required />

          <label for="city">State</label>
          <input type="text" name="state" class="form-control" required />

          <label for="pin">Zipcode</label>
          <input type="text" name="zipcode" class="form-control" required />

          <label for="exampleInputEmail1">Email address</label>
          <input type="text" name="email" class="form-control" required />

          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="pass" class="form-control" required />
          <br>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
</center>
{% with messages = get_flashed_messages() %}
{%if messages%}
{%for mess in messages%}
{{mess}}
{%endfor%}
{%endif%}
{% endwith %}


{% endblock %}